footer.footer
  .footer__logo
    img(src="/img/logo-green.png", alt="Natours logo")
  ul.footer__nav 
    li.footer__item
      a.footer__link(href="#") About us
    li.footer__item
      a.footer__link(href="#") Download apps
    li.footer__item
      a.footer__link(href="#") Become a guide
    li.footer__item
      a.footer__link(href="#") Careers
    li.footer__item
      a.footer__link(href="#") Contact
  p.footer__copyright $copy; by Enigjes